a[data-icon=""] {
	background : url("/img/icongbfooter.png");
	background-repeat : no-repeat;
	background-position : top center;
}

a[data-icon="telephone"] {
	background : url("/img/icone_tel.png");
	background-repeat : no-repeat;
	background-position : top center;
	opacity:1;
}